<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css" media="screen"/>
    <title>kakaocert SDK Springboot Example.</title>
</head>
<body>
<div id="content">
    <p class="heading1">Verify</p>
    <br/>
    <fieldset class="fieldset1">
        <legend th:text="${#request?.requestURL}"></legend>
        <ul>
            <li>receiptId (접수아이디) : <span th:text="${result.receiptId}"></span></li>
            <li>signedData (전자서명 데이터 전문) : <span th:text="${result.signedData}"></span></li>
        </ul>
    </fieldset>
</div>
</body>
</html>